.card {
    h3{
        margin: 0.5em 0;
        font-size:1.5em;
    }
    h4{
        margin: 0.5em 0;
        font-size:1.2em;
    }
    &.tiles{
        .card-content{
            height: 134px;
        }
    }
    .card-content {
        overflow: hidden;
        position: relative;
        padding: 10px 10px 10px 20px;
        text-align: left;
        
        .cardbox-icon {
            font-size: 96px;
            color: #000;
            opacity: .25;
            position: absolute;
            right: -20px;
            top: 35%;
            overflow: hidden;
            i{
                font-size: 96px;
            }
        }
        .card-details{
            span{
                display:block;
            }
        }
    }
}

