.curiousBlue{
    background-color: $CuriousBlue;
}
.tealBlue{
    background-color: $TealBlue;
}
.clementine{
    background-color: $Clementine;
}
.brightGray{
    background-color: $BrightGray;
}
.bondiBlue{
    background-color: $BondiBlue;
}
.seance{
    background-color: $Seance;
}
