body{
    font-family: 'Muli', sans-serif;
    background-color: $Whisper;
}
h1, h2, h3, h4, h5, h6{
    margin:0px;
    padding:0px;
}
.icon-bg-circle {
    padding: .4rem;
    color: $White;
    border-radius: 50%;
}

.mrg-top-20{
    margin-top:20px;
}

.row{
    margin-bottom:0px;
}

.card h3{
    font-size:1.5em;
}
.card h4{
    font-size:1.2em;
}