.manageYourAccount{
    .card {
        .card-content{
            padding:20px 0px 0px;
            h3{
                padding: 0px 0px 15px 20px;
            }
            .collection{
                box-shadow: 0 0 0 0;
                margin: 0px;
                border-radius:0px;
                i{
                    vertical-align: middle;
                    width: 30px;
                    margin-right: 10px;
                    font-size: 30px;
                }
            }
        }
    }
}